.rc{
    width:45%;
    left:50%;
    position: absolute;
    border-left:solid black 1px;
    padding-left:10px;
}

.lc{
    width:48%;
    position: absolute;
    left:0;    
}

.red{
    color:darkred;
}
.green{
    color:darkgreen;
}

.margin{
    margin-left:15px;
}

button{
    margin-left:10px;
    margin-bottom:10px;
}

.info{
    font-size: 8px;
}